@page {
    size: A4;
    margin: 0;
}
@media print {
    html {
        /*temporary*/
        background: gray;
    }
    body {
        -webkit-print-color-adjust: exact;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        /*temporary*/
        background: white;
        margin: auto;
        width: 210mm;
        height: 297mm;
    }
    main {
        flex-grow: 1;
    }
}
h1, h2, h3, h4, h5,
.nav-title, .card-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btn-floating {
    font-size: 2em;
    font-weight: 500;
    cursor: default;
}
nav .nav-title {
    padding: 26px 0 0 0;
    font-size: 3.5em;
}
nav .contacts li {
    padding: 30px 0 0 0;
}
nav ul a {
    font-size: 1.2em;
}
.tabs {
    top: -24px;
    letter-spacing: 3px;
}
.card .card-content .card-title {
    font-size: 1.8em;
    line-height: 1em;
}
.card .card-subtitle.card-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
}
.card .card-content {
    overflow: hidden;
}