/*Layout grid*/
.row .col.s2 {
  width: 20%;
}
.row .col.s10 {
  width: 80%;
}

/*Collection*/
.collection .collection-item {
  padding: 14px 20px;
}

/*Headings styles*/
h1, h2, h3, h4,
.nav-title, .card-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1, h2, h3 {
  line-height: inherit;
  margin: 3px 0 0 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h4 {
  font-size: 1.5em;
}

/*NAV styles*/
nav .nav-title {
  padding: 26px 0 0 0;
  font-size: 3.5em;
}
nav .contacts li {
  padding: 30px 0 0 0;
}
nav ul a {
  font-size: 1.2em;
}

/*TABS styles*/
.tabs {
  top: -24px;
  height: auto;
  letter-spacing: 3px;
}
.tabs .tab {
  line-height: 32px;
  height: 32px;
}

/*CARD styles*/
.card .card-content {
  overflow: hidden;
}
.card .card-content .divider {
  margin: 15px 0 5px;
}
.card .card-content.card-content {
  padding-bottom: 10px;
}
.card .card-content.card-subcontent {
  padding-bottom: 10px;
}
.card .card-content.card-subcontent {
  padding-top: 0;
}
.card .card-action {
  margin-top: 10px;
}
.card .card-content p {
  margin-bottom: .5em;
}
.card .card-content .card-title {
  font-size: 1.8em;
  line-height: 1em;
}
.card .card-content .col:first-child {
  padding-left: 0;
}
.card .card-content .col:last-child {
  padding-right: 0;
}
.card .card-subtitle.card-subtitle {
  font-weight: 500;
}

.block-name {
  text-align: right;
  font-weight: 500;
  opacity: .6;
}

/*OTHER styles*/
.btn-floating {
  font-size: 2em;
  font-weight: 500;
  cursor: default;
}
.regular-list li {
  margin-bottom: .25em;
}
.regular-list li:before {
  content: '•';
  font-size: .8em;
  color: #888;
  position: absolute;
  margin-left: -.8em;
}

article {
  padding: 0 !important;
}

.page-footer {
  padding: 0 0 12px 0;
}

@media print {
  html {
    color: rgba(0, 0, 0, 1);
    /*for testing print layout*/
    /*background: gray;*/
  }
  body {
    -webkit-print-color-adjust: exact;
    display: flex;
    flex-direction: column;
    font-size: 8pt;
    /*for testing print layout*/
    /*background: white;*/
    /*margin: auto;*/
    /*width: 210mm;*/
    height: 296mm;
  }
  main {
    flex-grow: 1;
  }
  .row-main {
    margin-bottom: 0;
  }
  .section-main {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collection .collection-item {
    line-height: 1.2rem;
  }
  .btn-floating {
    width: 48px !important;
    height: 48px !important;
    line-height: 48px !important;
    bottom: -24px !important;
  }

  .row .col.s2 {
    width: 18%;
  }
  .row .col.s10 {
    width: 82%;
  }

  /*paddings*/
  nav .nav-title {
    padding: 15px 0 23px 0;
  }
  nav .contacts li {
    padding: 15px 0 0 0;
  }
  .tabs {
    position: absolute;
    top: 46px;
  }
  .collection .collection-item {
    padding: 10px 15px;
  }
  .card {
    margin: 5px 0 10px 0;
  }
  .card .card-content {
    padding: 15px;
  }
  .card .card-action {
    padding: 8px 15px;
    margin-top: 5px;
  }
  .card .card-content .divider {
    margin: 10px 0 0;
  }
  .card .card-content.card-content {
    padding-bottom: 5px;
  }
  .card .card-content.card-subcontent {
    padding-bottom: 5px;
  }
  .page-footer {
    padding: 0;
  }
  .page-footer .footer-copyright {
    padding: 0;
    min-height: 36px;
  }
}

@page {
  size: A4;
  margin: 0;
}